.Grid {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.Grid button {
  width: 150px;
  border: none;
  padding: 10px;
  align-self: center;
  margin: 20px 5px 0 5px;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}

.Grid .explanation {
  opacity: 0.7;
}

.Grid button:hover,
.Grid button:focus,
.Grid button:active {
  background: rgba(255, 255, 255, 0.5);
}

.Grid__Column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Grid__GridCell--dead {
  background-color: white;
}

.Grid__GridCell--alive {
  background-color: #00dff7;
}

.Grid__GridCell {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}

.Grid__GridCell:hover {
  opacity: 0.8;
}
