.Background {
  filter: blur(5px);
  overflow: hidden;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  margin: 0;
}

.Background__img {
  display: block;
  width: calc(100vw + 10px);
  height: calc(100vh + 10px);
  position: relative;
  object-fit: cover;
}
